.wrapper {
    width: 100%;
    margin: 0 auto;
    background: #18A0FB;
    padding: 1rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.text {
    height: 50px;
    color: #ffffff;
    padding: 1rem;
}

.text button {
    font-size: 1rem;
    text-align: center;
    text-decoration: underline;
    background-color: transparent;
    margin: 0;
    box-shadow: none
}