html,
body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;

}

h1 {
  /* font-family: 'Darumadrop One', sans-serif; */
  text-align: center;
  padding: 2rem;
}

h2 {
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: center;
}

a {
  color: #18A0FB;
  text-decoration: none;
}

button {
  background-color: #18A0FB;
  text-align: center;
  box-shadow: 0px 1px 1px 0px rgb(225, 225, 225);
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  margin: 2rem;
  font-size: 1rem;
  border-radius: 1rem;
}

.button-secondary {
  color: #18A0FB;
  background-color: #ffffff;
  border-style: solid;
  border-color: #18A0FB;
}

.button-sm {
  background-color: #ffffff;
  border: 1px solid #18A0FB;
  color: #18A0FB;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  color: #eaeaea;
  border: 1px solid #eaeaea;
}

main {
  padding: 4vw 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 0.5rem 0.5rem;
  margin: 1rem;
  border: solid 1px #eaeaea;
  border-radius: 0.25rem;
}

footer {
  font-size: 1rem;
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

}

footer a {
  text-decoration: underline;
}

ul {
  font-size: 1.5rem;
  list-style: none;
}

.delete {
  color: red;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}