.modalOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  min-height: stretch;
  min-width: stretch;
  background-color: #18A0FB;

}

.modalButtonGroup {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  top: 25%;
  left: 25%;
}


.modalButtonGroup h2 {
  color: white;
}

.optionButton {
  display: block;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  max-height: 50%;
  background-color: white;
  box-shadow: 0px 1px 1px 0px;
  border: none;
  color: #18A0FB;
}

.backButton {
  text-decoration: underline;
  background-color: none;
  box-shadow: none;
  color: white;
}

.buttongroup button:not(:last-child) {
  border-bottom: none;
}